.grafico{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	background-color:#00CECBcc;
	border-radius:10px;
	text-align:center;
}
.stats{
	display:flex;
	padding:30px 20px;
	align-items:flex-end;
	justify-content:space-between;
}
.stats div{
	position:relative;
	background-color:#000;
	width:10px;
	display:flex;
	justify-content:center;
	border-radius:5px 5px 0px 0px;
}
.stats div:nth-child(1){height:80px;}
.stats div:nth-child(2){height:40px;}
.stats div:nth-child(3){height:120px;}
.stats div:nth-child(4){height:110px;}
.stats div:nth-child(5){height:70px;}
.stats div:nth-child(6){height:100px;}
.stats div:nth-child(7){height:30px;}
.qtd{
	position:absolute;
	top:-20px;
}
.dia{
	position:absolute;
	bottom:-20px;
}

