/*
 * o seguinte bloco altera o tamanho de todos os elementos para o tamanho do elemento pai
 * tambem coloca margem 0 para todos
 */
*{
	box-sizing:border-box;
	margin:0px;
}
/*
 * coloca o body sendo flex, para aprender mais sobre flex-box: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * altera a fonte e a cor da fonte
 */
body{
	display:flex;
	font-family: 'Righteous', cursive;
	color:#000;
}
/*
 * tira o sublinhado e altera a cor dos links 
 */
a{
	text-decoration:none;
	color:#000;
}
/*
 * colocando imagem de fundo para a div lateral(onde estão o personagem, informações de usuário e os botões)
 * as imagens que usei são temporárias apenas para demonstração, precisamos de outras imagens 
 */
.lateral{
	padding:15px 0px 15px 20px;
	background-image: url('../img/bg.jpg');
	background-size: cover;
}
/*
 * define uma margem à direita de 20px e largura 400px 
 */
.usuario{
	margin-right:20px;
	display:flex;
	width:400px;
}

.botoes{
	margin-top:30px;
}
.conteudo{
	display: flex;
	flex-grow:1;
	flex-direction: column;
	background-image: url('../img/color-2174045_1280.png');
	background-size: cover;
}

#personagem img{
	width:150px;
}
#info{
	position:relative;
	padding:5px;
	flex-grow: 1;
}
.nickname{
	letter-spacing: 10px;
	font-family: 'Staatliches', cursive;
	font-size: 24px;
	display: block;
	block-size: 8px;
    text-align:center;
}
/*
 * a classe moeda é da imagem da moeda e a classe n-moedas é do número que está do lado da imagem 
 */
.moeda{
	width:20px;
	position:relative;
	top:3px;
}	
.n-moedas{
	font-size: 20px;
}
/*
 * btn-p e btn-config são o botão 'personagem' e o botão de configuração
 */
.btn-p{
	position:absolute;
	bottom:10px;
	width:80%;
	text-align: center;
	font-size: 18px;
	font-weight:bold;
}
.btn-config{
	position:absolute;
	display:block;
	right:10px;
	bottom:10px;
}
/*
 * muda o largura da imagem usada como botão de configuração
 */
.btn-config img{
	width:30px;
}

/*
 * a div botões é onde ficam os 4 botões
 */
.botoes div{
	display:flex;
}
/*
 * cada botão é da classe btn, aqui modifica como os botões são exibidos
 */
.btn a{
	margin-top:6px;
	display:block;
	padding:10px;
	font-size: 28px;
	clear:both;
	text-align: center;
	font-family: 'Coda', cursive;
	flex-grow:1;
}
/*
 * muda o a cor do botão e adiciona uma sombra quando o mouse está sobre ele
 */
.btn a:hover{
	background-color:#ffffffdd;
	box-shadow: 0px 0px 10px #fff;
}
/*
 * a classe atual serve para diferenciar o botão da página atual dos demais, fica azul e com uma seta do lado
 */
.atual a{
	background-color:#538acedd;
	margin-top:6px;
	display:block;
	padding:10px;
	font-size: 28px;
	clear:both;
	text-align: center;
	font-family: 'Coda', cursive;
	color:#fff;
	flex-grow:1;
}
/*
 * essa div vazia que está dentro da div dos botões serve como seta e fica transparente, só fica azul no 'botão atual'
 */
.btn div:last-child, .atual div:last-child{
	margin-top:6px;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;	  
	border-left: 20px solid transparent;
}
.atual div:last-child{
	border-left: 20px solid #538acedd;
}


/*
 * os seguintes blocos são para o gráfico de estatísticas de exemplo
 */
.stats{
	display:flex;
	padding:30px 20px;
	align-items:flex-end;
	justify-content:space-between;
	width:400px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}
.stats div{
	position:relative;
	background-color:#000;
	width:10px;
	display:flex;
	justify-content:center;
	border-radius:5px 5px 0px 0px;
}
.stats div:nth-child(1){height:80px;}
.stats div:nth-child(2){height:40px;}
.stats div:nth-child(3){height:120px;}
.stats div:nth-child(4){height:110px;}
.stats div:nth-child(5){height:70px;}
.stats div:nth-child(6){height:100px;}
.stats div:nth-child(7){height:30px;}
.qtd{
	position:absolute;
	top:-20px;
}
.dia{
	position:absolute;
	bottom:-20px;
}


/*
 * a div questão tem um fundo um pouco transparente
 */
.questao{
	flex-grow:1;
	padding:20px 30px;
	clear:both;
	height:86%;
	font-family: 'Arimo', sans-serif;
	overflow:auto;
	background-color:#ffffff55;
}
/*
 * a classe caixa serve para imitar uma 'caixa' que delimita alguns textos da prova
 */
.caixa{
	padding:8px;
	border:1px solid #000;
	border-radius:5px;
	text-align:justify;
	box-shadow: 0px 0px 8px #000;
	margin:5px 0px;
	background-color:#ffffffaa;
}
/*
 * para os títulos de alguns textos da prova
 */
.titulo{
	font-weight:bold;
	text-align:center;
	display:block;
}
/*
 * para mostrar a fonte (textinho que fica embaixo e indica de onde foi retirado esse texto), de alguns textos da prova
 */
.fonte{
	font-size:70%;
}

.alternativas{
	margin-top:8px;
}
.alternativas label:first-child{
	border-top:none;
}
.alternativas label:last-child{
	border-bottom:none;
}
.base{
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:100%;
	padding:0px 20px;
	position:relative;
	background-color:#ffffff55;
	border-top:solid 2px #ffffffaa;
	box-shadow: 2px 0px 10px #fff;
}
/*
 * o resultado não é exibido inicialmente, só aparece quando o usuário clica no botão próximo, a parte que faz ele aparecer está no aquivo questões.js
 */
#resultado{
	display:none;
	width:200;
	height:200;
	background-color:#000;
	position:absolute;
	margin:100px 80px 20px 100px;
	text-align:center;
	bottom:100%;
}
.btn-dica{
	position:relative;
}
/*
 * a dica é mostrada/removida quando o usuário clica na lâmpada
 */
#dica{
	display:none;
	width:500px;
	height:350px;
	background-color: #ffffffcc;
	color: #000;
	text-align: center;
	border-radius: 10px 10px 10px 0px;
	padding: 5px;
	position: absolute;
	font-family: 'Arimo', sans-serif;
	bottom: 140%;
	left: 5px;
}
/*
 * o seguinte bloco serve para fazer a setinha apontando para a lâmpada
 */
#dica::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0px;
	border-top: 20px solid #ffffffcc;
	border-right: 20px solid transparent;	  
	border-left: 20px solid transparent;
}

#lampada{
	width:50px;
	cursor: pointer;
}
#tempo{
	font-size:20px;
}
/*
 * #seta é a imagem usada como botão próximo
 */
#seta{
	width:30px;
	cursor: pointer;
}


/* para o radiobutton retirado https://stackoverflow.com/questions/45259139/how-to-put-text-inside-radio-button	*/
input[type="radio"] {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #333;
  background-color: #fff;
  -webkit-appearance: none; 
  -moz-appearance: none;
}

input[type="radio"]:focus { 
  outline-color: transparent;
}

input[type="radio"]:checked {
  background-color: #333;
}

input[type="radio"]:checked ~ span{
  color: #fff;
}
label{
	display:flex;
	position:relative;
	border-top:1px solid #aaaaaaaa;
	border-bottom:1px solid #333333aa;
	cursor:pointer;
}
.letra{
	padding:5px;
	width:40px;
	height:40px;
}
.letra span{
  position: relative;
  left: 10px;
  font-size: 15px;
  color: #333;
}

.letra span{
  position: relative;
  top: -24px;
}  


/*
 *importa fontes do google 
 */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v6/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v1/HI_OiY8KO6hCsQSoAPmtMYebvpA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda Regular'), local('Coda-Regular'), url(https://fonts.gstatic.com/s/coda/v13/SLXHc1jY5nQ8FUUGaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(https://fonts.gstatic.com/s/arimo/v11/P5sMzZCDf9_T_10ZxCE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

